<style>

.layout {
  width: 60%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow:center;
  align-items: center;
}
.dog{
  border:1px solid black;
  text-align:center;
  margin:5px;
}
</style>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
 <%= paginate @data %>
 <section class="layout">
        <% @data.each do |item| %>
            <div class="dog">
              <img src="<%=item.image_url%>" width="400" height="350"><br>
              <td ><%= link_to item.name, item %></td>
            </div>
        <% end %>
  </section>

  </div>

