
<header class="w3-container w3-grey w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Dogs, Homepage</h1>
</header>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
<p></p>
<p><img src=".\..\assets\images\ruby.png" alt="wtf" width="200" height="200" style="vertical-align:middle">
</p>
</div>
